APP_ENV=development

HTTP_PORT=8080
GRPC_PORT=9090

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=logging_db

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB=logging_projections

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

AUTH_BASE_URL=http://20.244.56.144/evaluation-service
AUTH_EMAIL=
AUTH_NAME=
AUTH_ROLL_NO=
AUTH_ACCESS_CODE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=

LOGGER_MAX_WORKERS=5
LOGGER_QUEUE_SIZE=1000
LOGGER_MAX_RETRIES=3

AUTH_USE_STATIC_TOKEN=true
AUTH_STATIC_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiIxMjNjczAwNjFAaWlpdGsuYWMuaW4iLCJleHAiOjE3NzgzMDQwMjMsImlhdCI6MTc3ODMwMzEyMywiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6ImUxNjQwYzgwLTM1MmEtNGU0OC04NDM3LTZhZjA0OGNjYThlYyIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6InNpZGRoYXJ0aCBrYXJtb2thciIsInN1YiI6IjY3OGFjN2U5LTk4ZTktNDU1YS04YzZkLTY3Y2JhYjc3NDQzZiJ9LCJlbWFpbCI6IjEyM2NzMDA2MUBpaWl0ay5hYy5pbiIsIm5hbWUiOiJzaWRkaGFydGgga2FybW9rYXIiLCJyb2xsTm8iOiIxMjNjczAwNjEiLCJhY2Nlc3NDb2RlIjoidVp5U0FUIiwiY2xpZW50SUQiOiI2NzhhYzdlOS05OGU5LTQ1NWEtOGM2ZC02N2NiYWI3NzQ0M2YiLCJjbGllbnRTZWNyZXQiOiJtQ3JYUXB2SE1Xd0pwZndoIn0.-g-gCsoW0FZkMOmr-hOSCztohliDTmD-0aWUXqnhg8k
